body, html {
	height: 100%;
	font-family: 'Quicksand', sans-serif;
	background: linear-gradient(#aa4b6b, #3b8d99;
	overflow-y: hidden;

}


#name {
	position: absolute;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 100px;
	color: white;
  	text-align: center;
  	z-index: 2

}


#link-to {
	position: absolute;
	top: 55%;
	left: 45%;
	transform: translate(-50%, -50%);
  	z-index: 3;
  	font-style: italic;

	opacity: .6;
	font-size: 30px;
	color: white;
  	text-align: center;
  	padding-top: 50px;
	animation: bounce 2.5s;
	animation-direction: alternate;
	animation-timing-function: cubic-bezier(0,0,0,0);
	animation-iteration-count: infinite;
	}

	@keyframes bounce {
	  from { transform: translate3d(0, 0, 0);     }
	  to   { transform: translate3d(0, 10px, 0); }
	}

#link-to:hover {
	opacity: 1;
	cursor: pointer;
}

#background-circle {
	position: absolute;
	top: 50%;
  	left: 50%;
  	transform: translate(-50%, -50%);
	width: 800px;
	height: 800px;
	border-radius: 50%;
	z-index: 1;
	background: linear-gradient(#3b8d99, #aa4b6b);
}

